*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* default 16px -> now 10px; better for user changes */ }

body {
  box-sizing: border-box;
  background-color: #F9F9F9; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 40vh;
  justify-content: center;
  align-content: center; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #000; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-bottom: 10rem !important; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.main-text__btn-shake, .main-text__btn-shake:link, .main-text__btn-shake:visited {
  text-decoration: none;
  border: none;
  border-bottom: solid currentColor 3px;
  line-height: 11.0rem;
  cursor: pointer;
  background-color: #F9F9F9;
  position: relative;
  font-family: "Bitter", cursive;
  font-size: 14rem;
  color: #2574BB;
  transition: all 1s; }
  .main-text__btn-shake::before, .main-text__btn-shake::after, .main-text__btn-shake:link::before, .main-text__btn-shake:link::after, .main-text__btn-shake:visited::before, .main-text__btn-shake:visited::after {
    opacity: 0;
    position: absolute;
    transform: translateY(-1rem);
    transition: all 1s; }
  .main-text__btn-shake::before, .main-text__btn-shake:link::before, .main-text__btn-shake:visited::before {
    content: ">";
    transform: translateX(-20rem); }
  .main-text__btn-shake::after, .main-text__btn-shake:link::after, .main-text__btn-shake:visited::after {
    content: "<";
    transform: translateX(calc(20rem - 100%)); }

.main-text__btn-shake:active, .main-text__btn-shake:focus, .main-text__btn-shake:hover {
  outline: none; }
  .main-text__btn-shake:active::before, .main-text__btn-shake:focus::before, .main-text__btn-shake:hover::before {
    opacity: 1;
    transform: translateX(-95%); }
  .main-text__btn-shake:active::after, .main-text__btn-shake:focus::after, .main-text__btn-shake:hover::after {
    opacity: 1;
    transform: translateX(0); }

.main-text__for {
  font-family: 'Qwigley', cursive;
  font-size: 10rem;
  color: #31C432;
  transform: skewX(-20deg) scaleY(0.8);
  margin-top: -1.4rem; }

.main-text__color {
  font-family: 'Oswald', sans-serif;
  font-size: 15rem;
  text-transform: uppercase; }

.main {
  display: grid;
  grid-template-columns: 60vw;
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  align-items: center; }
