// COLORS
$color-white: #F9F9F9; // 4f5adf white:F9F9F9
$color-black: #2C2C2D;

$color-shake: #2574BB;
$color-for: #31C432;

// $color-shake: $color-black;
// $color-for: $color-black;

// FONT
$font-defualt-size: 1.6rem;