// COLORS
$color-primary: #55c57a;
$color-primary-light: hsl(111, 55%, 64%);
$color-primary-dark: #28b485;

$color-secondary: #ffb900;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-white: #F9F9F9;
$color-black: #2C2C2D;

$color-shake: #2574BB;
$color-for: #31C432;

// FONT
$font-defualt-size: 1.6rem;