.main-text {
    &__btn-shake {
        &,
        &:link,
        &:visited {
            text-decoration: none;
            border: none;
            outline: none;
            border-bottom: solid currentColor 3px;
            line-height: 11.0rem;
            cursor: pointer;
            background-color: rgba(0,0,0,0); //TODO why isn't it transparent from start?
            
            font-family: "Bitter", cursive;
            font-size: 14rem;
            color: var(--color-shake);
            transition: color var(--anim-shake-delay), background-color var(--anim-shake-delay);
            
            &::before,
            &::after {
                opacity: 0;
                position: absolute;
                transition: all 1s;
            }
            
            &::before { 
                content: ">"; 
                transform: translateX(-20rem) translateY(-1.1rem);
            }
            &::after { 
                content: "<"; 
                transform: translateX(calc(20rem - 100%)) translateY(-1.1rem);
            }

        }

        &:hover {
            &::before {
                opacity: 1;
                transform: translateX(-95%) translateY(-1.1rem);
            }

            &::after {
                opacity: 1;
                transform: translateX(0) translateY(-1.1rem);
            }
        }

        &:active,
        &:focus {
            outline:    0;
        }
    }

    &__for {
        font-family: 'Qwigley', cursive;
        font-size: 10rem;
        color: var(--color-for);
        transform: skewX(-20deg) scaleY(0.8);
        margin-top: -1.4rem;
        transition: color var(--anim-shake-delay), opacity var(--anim-shake);
    }

    &__color {
        &-btn,
        &-btn-txt {
            background: none;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
        }

        font-family: 'Oswald', sans-serif;
        font-size: 15rem;
        text-transform: uppercase;
        color: var(--color-color);
        background-color: var(--color-color-back);
        width: 60rem;
        height: 15rem;
        text-align: center; 
        margin-top: -1rem;
        transition: color var(--anim-shake), background-color var(--anim-shake-delay);
        // transition: color var(--anim-shake), background-color var(--anim-shake);

        &-btn-txt {
            font-family: 'Oswald', sans-serif;
            font-size: 15rem;
            text-transform: uppercase;
            color: var(--color-color);
            text-align: center; 
        }

        &--anim {
            animation: shake-color var(--anim-shake) ease-in-out 1;
        }

        &--new-color {
            color: var(--color-color);
        }
        

        &::before,
        &::after {
            content: "";
            background-color: var(--color-color-arrow);
            mask: url(../img/arrow.svg);
            -webkit-mask: url(../img/arrow.svg);
            width: 21.6rem;
            height: 9rem;   
            position: absolute;
            transition: all var(--anim-shake-delay);
        }
        
        &::before {
            transform: translate(-20.0rem, 3rem);
        }
        &::after {
            transform: rotate(180deg) translate(-2.2rem, -3rem);
        }
    }
}