@keyframes shake-color {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(25rem) rotateZ(3deg);
        // color: var(--color-main);
    }

    50% {
        transform: translateX(-20rem) rotateZ(-3deg);
        // color: var(--color-black);
    }

    65% {
        transform: translateX(20rem) rotateZ(3deg);
    }

    80% {
        transform: translateX(-20rem) rotateZ(-3deg);
        // color: var(--color-main);
    }

    90% {
        transform: translateX(5rem);
    }

    95% {
        transform: translateX(-2rem);
    }

    100% {
        transform: translateX(0);
    }
}

// @keyframes shake-color {
//     0% {
//         transform: translateX(0);
//     }

//     30% {
//         transform: translateX(25rem);
//         color: $color-white;
//     }

//     50% {
//         transform: translateX(-20rem);
//         color: $color-black;
//     }

//     65% {
//         transform: translateX(20rem);
//     }

//     80% {
//         transform: translateX(-20rem);
//         color: $color-white;
//     }

//     90% {
//         transform: translateX(5rem);
//     }

//     95% {
//         transform: translateX(-2rem);
//     }

//     100% {
//         transform: translateX(0);
//     }
// }