@keyframes shake-color {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(25rem) rotateZ(3deg);
    }
    
    50% {
        transform: translateX(-20rem) rotateZ(-3deg);
    }
    
    65% {
        transform: translateX(20rem) rotateZ(3deg);
        color: rgba(0,0,0,0);
    }

    80% {
        transform: translateX(-20rem) rotateZ(-3deg);
    }
    
    90% {
        transform: translateX(5rem);
        color: var(--color-main);
    }
    
    95% {
        transform: translateX(-2rem);
    }
    
    100% {
        transform: translateX(0);
        color: var(--color-color);
    }
}