*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {

    // COLORS
    --color-main: #F9F9F9; //TODO: name it white
    --color-main-hex: 249, 249, 249; //rgb not hex
    --color-shake: #2574BB;
    --color-for: #31C432;
    --color-color: #F9F9F9;
    --color-color-arrow: #F50D5F;
    --color-color-back: #2C2C2D;
    --color-footer: #2C2C2D;

    --color-black: #2C2C2D;
    --color-black-hex: 44, 44, 45; // rgb not hex
    --color-white:#F9F9F9;
    --color-white-rgb: 249, 249, 249;
    --color-magenta: #F50D5F;
    --color-magenta-rgb: 245, 13, 95;

    // ANIMATIONS TIME
    --anim-shake: 1.4s;
    --anim-shake-delay: 0.4s 1s;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; /* default 16px -> now 10px; better for user changes */

    @include respond(medium) {
        font-size: 50%; 
    }
}

body {
    box-sizing: border-box;
    background-color: var(--color-main);

    transition: background-color var(--anim-shake-delay);

    // @include respond(medium) {
    //     padding: 0;
    // }
}

::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 15vh max-content 0.9fr max-content;
    justify-content: center;
    justify-items: center;
}