*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; /* default 16px -> now 10px; better for user changes */

    // @include respond(small) {
    //     font-size: 56.25%; 
    // }
}

body {
    box-sizing: border-box;
    background-color: $color-white;

    // @include respond(medium) {
    //     padding: 0;
    // }
}

::selection {
    // background-color: $color-primary;
    // color: $color-white;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
    grid-gap: 40vh;
    justify-content: center;
    align-content: center;
}